body{
    font-family: 'arial', sans-serif;
    background-color: aquamarine;
    color: #7c7353e4;
}
h1{
    color: #74d8fd;
}
a{
    color: #74fdab;
    text-decoration: none;
}
a;hover{
    color: #b3b482 
}
ul >li{
    font 
}